@import "../../../assets/colors"

.course
    grid-area: course
    font-size: 2.2rem
    font-weight: 300
    padding: 0
    background: $color-block
    color: $color-white
    border: none
    cursor: pointer