@import "./assets/colors"

* 
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 58%
    -ms-overflow-style: none
    scrollbar-width: none

button, 
input,
select,
textarea 
    font-family: inherit

body 
  background: $color-body

