@import "./assets/colors"

* 
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    -ms-overflow-style: none
    scrollbar-width: none

button, 
input,
select,
textarea 
    font-family: inherit

body 
  background: $color-body

@media (max-width: 329px) 
    html
        font-size: 47% 

@media (min-width: 330px) 
    html
        font-size: 52%   

@media (min-width: 355px) 
    html
        font-size: 56% 

@media (min-width: 380px) 
    html
        font-size: 59% 

@media (min-width: 400px) 
    html
        font-size: 62.5% 

